func(req {{$.reqType}}) (_ {{$.respType}}, rerr error) {
    res, err := {{$.clientVar}}.{{$.methodName}}(req.WithContext(ctx))
    if err != nil {
        rerr = err
        return
    }
    return res.Payload, nil
}({{$.reqVar}})